/* CSS VARIABLES - Deposy Theme */
:root {
    --primary: #524448;
    --primary-dark: #42383B;
    --secondary:  #35262b;
    --white: #FFFFFF;
    --background: #A6979C;
  
    --radius: 6px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --transition: all ease-in-out 300ms;
  }
  