.App {
  text-align: center;
}

[type="checkbox"] {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  border: 2px solid #000000;
}

[type="checkbox"]:checked {
  background-color: #000000;
  box-shadow: inset 0px 0px 0px 3px #A6979C;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}